<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1446</integer>
    <key>capHeight</key>
    <integer>1446</integer>
    <key>copyright</key>
    <string>Copyright 2026 The Zoellipse Project Authors (https://github.com/chx2974/Zoellipse); Copyright 2015 The Public Sans Project Authors (https://github.com/uswds/public-sans)</string>
    <key>descender</key>
    <integer>-322</integer>
    <key>familyName</key>
    <string>Zoellipse</string>
    <key>italicAngle</key>
    <integer>-8</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/07/15 15:46:30</string>
    <key>openTypeHheaAscender</key>
    <integer>1925</integer>
    <key>openTypeHheaDescender</key>
    <integer>-475</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Zoellipse is a Modified Version of Public Sans (itself based on Libre Franklin) with subtly superelliptic curves, a taller x-height and tabular figures by default.</string>
    <key>openTypeNameDesigner</key>
    <string>Charlie Champanhet; Public Sans: USWDS; Libre Franklin: Pablo Impallari, Rodrigo Fuenzalida</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1925</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-475</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>NONE</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2315</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>495</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-22</integer>
      <integer>0</integer>
      <integer>1034</integer>
      <integer>1056</integer>
      <integer>1155</integer>
      <integer>1165</integer>
      <integer>1446</integer>
      <integer>1486</integer>
      <integer>1446</integer>
      <integer>1486</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Zoellipse-BlackItalic</string>
    <key>postscriptFullName</key>
    <string>Zoellipse Black Italic</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-339</integer>
      <integer>-322</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>320</integer>
      <integer>220</integer>
      <integer>325</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>387</integer>
      <integer>420</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-370</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>140</integer>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Black Italic</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>1056</integer>
  </dict>
</plist>
